.wrapper{
  display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  min-height: 100vh;        /* full viewport height */
  background: white;
}

.container-auth-head{
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 540px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  border-radius: 10px;
  padding: 20px; /* optional */
  margin: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);  /* soft shadow */
}


.reset-success-inner-cont{
    background-color: yellow;
    width: 391px;
    padding: 10px;
    display: flex;
   flex-direction: column;
   align-items: center; 
}


.reset-success-heading > .subheading{
    max-width: 290px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #919299;
    text-align: center;
}

.forgot-heading > .heading{
    font-weight: 600;
    font-size: 32px;
    color: #282828;
    padding-bottom: 2px;
    text-align: center;

}




.reset-btn{
    width: 100%;
    margin-top: 30px ;
    background: #2A3A68;
    color: white;
    border-radius: 8px;
    width: 100%;
    padding: 12px 16px;
    padding-left: 8px;
    border: none;
}




.reset-subheading{
     color: #919299;
}

.reset-subheading > span{
  color: black;
  
}