
.rent-properties {
  display: flex;         
  gap: 20px;              
  width: 100%;
  min-height: 70vh;     
      
}


.filter-sidebar {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 0 0 350px;        
  gap: 20px;
}

.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;                
  border-radius: 8px;
  gap: 59px;
  padding-top:40px;
}

.filter-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 58px;

}

.cards-tittle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 60%;
  height: 100%;
 
}

.cards-tittle > p{
font-family: "Inter";
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #100E2C;
}

.cards-tittle > h1{
font-family: "Poppins";
font-weight: 600;
font-size: 32px;
line-height: 20px;
color: #100E2C;

}

.filters-icons-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:30%;
  height: 100%;
}

.filters-card-conatiner{
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
    align-items: center;
    justify-items: center; 
  gap: 30px;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 600px 600px;  
}

.filters-icons-box > select{
background-color: #FFFFFF;
border-radius:10px;
padding: 12px 14px;
border: 1px solid #DCDEE3;
color:#727A90;
font-family: "Inter";
font-weight: 500;
font-size: 14px;
line-height: 20px;

}

.filter-icon-left{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 116px;
height: 48px;
gap: 12px;
border-width: 1px;
}

.filter-icon-left > img{
  width: 44px;
  height: 36px;
  border-radius: 10px;
  padding: 10px 14px;
  border: none;
}

.filter-icon-left img:first-child {
  background-color: #3749A6;
    border: none;
}

.filter-icon-left img:nth-child(2) {
  background-color: #CBD5E1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  padding: 20px 12px;
  border-radius: 12px;
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.1); */
  border: 1px solid #DEE2E6;
  font-family: 'Poppins', sans-serif;
  gap: 15px;
}


.sidebar > h3 {
  font-size: 18px;
  font-weight: 600;

}

.filter-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.filter-section  label{
  width: 100%;
  display: flex;
  gap: 10px;
  font-family: "Inter";
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 20px;
}


.filter-section > label > img{
  width: 18px;
  height: 21px;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section p {
  font-weight: 500;
  font-family: "Inter";
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 5px;
}




.filter-section label input[type="radio"] {
  margin-left: 12px;
}


.filter-section input[type="range"] {
  -webkit-appearance:none ;  
  width: 80%;
  height: 11px;
  background: #FBDB5B;  
  border-radius: 16px;
  outline: none;

}


#priceRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  background: #100E2C;          
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

#priceRange::-moz-range-thumb {
   -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  background: #100E2C;          
  border-radius: 50%;
  cursor: pointer;
  border: none;
}


#priceRange::-moz-range-track {
 -webkit-appearance:none ;  
  width: 80%;
  height: 11px;
  background: #FBDB5B;  
  border-radius: 16px;
  outline: none;
}

 .rent-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 24px;
  width: 150px;
  height: 50px;
  background: #2A3A68;
  color: #fff;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  gap: 10px;
  margin-left: 15%;
}


 .rent-search-btn > img{
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);

 }

.rent-search-btn:hover {
  background: #142147;
}
 


 .input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #CCCCCC;
  background-color: #fff;
  padding: 4px 8px;
  gap: 10px;
  border-radius: 6px;
  width: 100%;
}

.input-wrapper > img{
  width: 14px;
  height: 14px;
}


.page-location{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
width: 100%;
gap: 4px;
padding: 5px;

}

.page-location p{
font-family: "Inter";
font-weight: 400;
font-size: 1rem;
line-height: 1rem;

}

.pagination-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  padding: 10px;
}


@media (max-width: 800px) {
  .filters-card-conatiner {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
  }
}

@media (max-width: 500px) {
  .filters-card-conatiner{
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
}