
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 76px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .main-content {
    padding-left: 8px;
    padding-right: 8px;
  }
} 
