.parent-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
}

.property-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-header {
  width: 60%;
  margin-left: 30% ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.detail-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.section-header h5 {
  font-family: 'Gantari', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: #1d1d1d;
}

.section-header p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  color: #666;
}

.feature-btn{
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  white-space: nowrap;
  background-color: #FBDB5B; ;
}

.feature-btn > p{
  padding-bottom: 6px;
  color: #100E2C;
  font-weight: 500;
  font-size: 1.4rem;
} 

.feature-btn > img{
 width: 25px;
 height: 25px;
}


/* .cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
} */

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}



@media (max-width: 1000px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr); /* 2 column */
  }
}

@media (max-width: 600px) {
  .cards-container {
    justify-items: center; 
    grid-template-columns: 1fr; /* single column */
  }
}