
 .property-card {
  position: relative;
  width: 100%;
  max-width: 420px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #DEE2E6;
  background: #fff;
  box-shadow: 0px 4px 12px 0px #00000012;
  transition: transform 0.3s ease;
}

.property-card:hover {
  transform: translateY(-5px);
}

.property-card > img {
  width: 100%;
  height: 220px;         /* fixed height */
  object-fit: cover;
}



.badge {
  position: absolute;
  color: white;
  top: 12px;
  left: 12px;
  border-radius: 6px;
  padding: 8px 18px;
  border: none;
  cursor: default;
  white-space: nowrap;
  width: auto !important; 
  max-width: none !important;
  align-self: flex-start; 
 
}

.badge-rent {
   background-color: #8EDA53;
}

.badge-sale {
  background: #0057FF;
}


.property-details {
  padding: 7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 5px;
}

.property-details h3 {
 font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4rem;
  color: #000;

  white-space: nowrap;      /* line break na ho */
  overflow: hidden;         /* jo content overflow kare wo chhup jaye */
  text-overflow: ellipsis;  /* overflow wale content ke bad "..." dikhaye */
}

.location {
  font-size: 0.85rem;
  color: #7A7474;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.location img {
  width: 14px;
  height: 14px;
}


.para-card{
  min-height: 20px!important;       
  max-height:40px !important;  
  color: #7A7474 !important;
  font-size: 0.85rem !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;   
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.price {
  font-size: 20px!important;
  font-weight: 600;
  margin-bottom: 0px!important;
}


.price > span{
  font-size: 20px!important;
  font-weight: 400!important;
}

.icons-bar {
  padding: 5px 7px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 10px;

}

.icon-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
 
}

.icon-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon-box img {
  width: 20px;
  height: 20px;
}

.icon-bar > p {
  font-family: "Gantari";
  font-size: 0.8rem;
  color: #100E2C;
}

.property-buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0 7px;
  flex-wrap: wrap;
  margin-top:17px;
}

.share-btn, .contact-btn {
  flex: 1;
  height: 44px;
  border-radius: 4px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  cursor: pointer;
}

.share-btn {
  background: #fff;
  border: 1px solid #000;
}

.contact-btn {
  background: #FBDB5B;
  border: none;
}

/* ---------------- Responsive ---------------- */

/* Mobile (up to 480px) */
@media (max-width: 480px) {
  .property-card {
    max-width: 100%;
    
  }

  .property-details h3 {
    font-size: 1rem;
  }

  .para {
    font-size: 0.8rem;
  }

  .share-btn{
    flex: 100%
  }

  .tooltip-wrapper{
  width: 100%;
}


}



/* @media (max-width: 768px) {
  .property-card {
    max-width: 90%;
  }

  .property-details h3 {
    font-size: 1.05rem;
  }

  .para {
    font-size: 0.85rem;
  }

  .share-btn, .contact-btn {
     flex: 100%; 
  }
} */



.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active-page {
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* Tooltip wrapper */
.tooltip-wrapper {
  position: relative;
  display: inline-block;


}

/* Hidden tooltip text */
.tooltip-text {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  position: absolute;
  bottom: 125%; /* show above button */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 5;
}

/* Show on hover */
.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.contact-btn{
    padding-left: 27px;
    padding-right: 27px;
}
