
.rent-page{
  /* width: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1400px; 
  margin: 0 auto;
 padding-bottom: 20px
}
@media (max-width: 480px) {
  .main-content {
    padding-left: 4px !important ;
    padding-right: 4px !important;
  }
} 
